{% extends "layout.html" %}
{% block body %}

	<table class="cameraList">
	{% for cam in cameras %}
		<tr>
			<td>
				<h2>{{ cameras[cam].name }}</h2> <br>
				Last updated: {{ cameras[cam].updated_string }} <br>
				Traffic: {{ cameras[cam].activity }} <br>
				Algorithm: {{ cameras[cam].alg.name }}
			</td>
			<td><img src={{ url_for('serve_image', cam_id = cam) }}></td>
		</tr>
	{% endfor %}
	</table>

	{% for (d, i, c) in subcams %}
		<a href=subscribe?cam={{ i }}> Subscribe to camera {{ c.name }}, {{ d }} km away </a> <br>
	{% endfor %}

{% endblock %}