<!doctype html>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<script>

function success(pos) {
	document.getElementById("subscribe").innerHTML = "<a href=\"subscribe?lat=" + pos.coords.latitude + "&lon=" + pos.coords.longitude + "\"> Subscribe to cameras</a>";
};

navigator.geolocation.getCurrentPosition(success);
</script>

<title>Traffic monitor</title>
<div class=page>
	{% if session %}
		<p class="user">Logged in as {{session.username}}</p>
		<div class="menu">
			<a class="menu_element" href="cams">View cameras</a>
			<a class="menu_element" id="subscribe" href="subscribe">Subscribe to cameras</a>
			<a class="menu_element" href="register">Register a new camera</a>
			<a class="menu_element" href="logout">Log out</a> <br>
		</div>
		<br>
	{% else %}
		<form method="GET">
			<input type="" name="username">Please enter your name</input>
		</form>
	{% endif %}
	
	{% block body %}{% endblock %}
</div>
